<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<section data-bs-version="5.1" class="header6 cid-upaAPlEmDn mbr-fullscreen" id="header6-1">

    

    
    

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10" style="padding-bottom: 430px;">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-2">Seja Bem-vinda(o) ao Back Office da nossa loja!</h1>
                <div class="mbr-section-btn mt-3"><a class="btn btn-white display-4" href="/produtos">Ver os nossos produtos!</a></div>
            </div>
        </div>
    </div>
</section>
    
<%- include ('partials/footer.ejs') %>
